.App {
  text-align: center;
  font-family: "Francois One", sans-serif;
}

.global-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #e7ded8;
}

.home-text {
  color: #1433d9;
  /* margin-bottom: 200px; */
  font-size: 70px;
  overflow-wrap: break-word;
  border: 5px solid #fa7001;
}

.get-started-btn {
  background-color: #ff9fd5;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
